 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

   .header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 25px;
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 3px;
        }
  

        .menu {
            background-color: #111;
            display: flex;
            justify-content: center;
            gap: 40px;
            padding: 15px;
        }

        .menu a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

        .menu a:hover {
            color: #ffcc00;
        }
        .portada {
            width: 100%;
            height: 350px;
            background-size: cover;
            background-position: center;
        }
      .imagen-derecha {
    position: relative;
    top: -200px;   
    float: right;
    width: 400px;  
}
.datos-lista {
    font-size: 20px;
    line-height: 2;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: #0a3d62;
    background-color: #ecf5ff;
    padding: 12px 18px;
    border-left: 6px solid #ffcc00;
    border-radius: 8px;
}


        .contenedor-datos {
            width: 70%;
            margin: 60px auto;
            background-color: white;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 0 0 12px gray;
        }

        .contenedor-datos h1 {
            text-align: center;
            border-bottom: 4px solid #ffcc00;
            padding-bottom: 10px;
        }

        .contenedor-datos h2 {
            margin-top: 30px;
            color: black;
        }

        .datos-lista {
            font-size: 18px;
            line-height: 1.8;
        }

        .resaltado {
            font-weight: bold;
        }