 body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        .top-bar {
            background-color: #ffcc00;
            height: 8px;
        }
        .header {
            background-color: black;
            color: white;
            text-align: center;
            padding: 25px;
            font-size: 32px;
            font-weight: bold;
            letter-spacing: 3px;
        }
  .imagen-derecha {
    float: right;
    margin-left: 0px;
    margin-right: 0px;  
    margin: top 0;px;
    width: 900px;
}

        .menu {
            background-color: #111;
            display: flex;
            justify-content: center;
            gap: 40px;
            padding: 15px;
        }

        .menu a {
            color: white;
            text-decoration: none;
            font-size: 18px;
            font-weight: bold;
        }

        .menu a:hover {
            color: #ffcc00;
        }
        .portada {
            width: 100%;
            height: 350px;
            background-image: url("https://cdn.pixabay.com/photo/2017/02/13/20/21/science-2063418_1280.jpg");
            background-size: cover;
            background-position: center;
        }
        .secciones {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.secciones li {
    margin-bottom: 15px;
}

.secciones li a {
    display: block;
    background: linear-gradient(to right, #000000, #1f1f1f);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.secciones li a:hover {
    background: linear-gradient(to right, #ffcc00, #ff9900);
    color: black;
    transform: scale(1.05);
}
        .contenedor {
            display: flex;
            width: 90%;
            margin: 30px auto;
            gap: 20px;
        }
        .contenido {
            width: 70%;
            background-color: white;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px gray;
        }

        .contenido h1 {
            color: black;
            border-left: 6px solid #ffcc00;
            padding-left: 10px;
        }

        .contenido p {
            font-size: 17px;
            text-align: justify;
            line-height: 1.6;
        }
        .sidebar {
            width: 30%;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px gray;
        }

        .sidebar h2 {
            border-bottom: 3px solid #ffcc00;
            padding-bottom: 10px;
            color: black;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
        }

        .sidebar li {
            margin: 15px 0;
            background-color: #111;
            color: white;
            padding: 10px;
            border-radius: 6px;
            text-align: center;
        }
        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 40px;
        }